In [3]:
# 1. Declare variables of different data types
age = 21                  # int
height = 5.6              # float
name = "Roopa"             # string
is_student = True         # boolean

In [4]:
# 2. Print values and their types
print("Value and Type Demonstration:")
print(age, type(age))
print(height, type(height))
print(name, type(name))
print(is_student, type(is_student))

print("\n-----------------------------")

Value and Type Demonstration:
21 <class 'int'>
5.6 <class 'float'>
Roopa <class 'str'>
True <class 'bool'>

-----------------------------

In [5]:
# 3. Perform arithmetic operations using numeric variables
sum_result = age + 5
product_result = age * 2
division_result = age / 2

print("Arithmetic Operations:")
print("Sum:", sum_result)
print("Product:", product_result)
print("Division:", division_result)

print("\n-----------------------------")

Arithmetic Operations:
Sum: 26
Product: 42
Division: 10.5

-----------------------------

In [6]:
# 4. Convert string input to integer and float using type casting
# Using try-except to handle invalid input
try:
    # Input is always read as a string
    user_input = input("Enter a number: ")

    # Convert string to integer
    int_value = int(user_input)
    print("Integer value:", int_value)

    # Convert string to float
    float_value = float(user_input)
    print("Float value:", float_value)

except ValueError:
    # This block runs if conversion fails
    print("Error: Please enter a valid numeric value.")

print("\n-----------------------------")

Enter a number:  25

Integer value: 25
Float value: 25.0

-----------------------------

In [7]:
# 5. Concatenate strings and numbers properly
# Numbers must be converted to strings before concatenation
message = "My age is " + str(age)
print(message)

print("\n-----------------------------")

My age is 21

-----------------------------

In [8]:
# 6. Demonstrate dynamic typing
# Same variable assigned different data types
value = 10
print("Value:", value, "Type:", type(value))

value = "Ten"
print("Value:", value, "Type:", type(value))

value = 10.5
print("Value:", value, "Type:", type(value))

Value: 10 Type: <class 'int'>
Value: Ten Type: <class 'str'>
Value: 10.5 Type: <class 'float'>

In [9]:
# 1. Declare variables of different data types
age = 21                  # int data type (stores whole numbers)
height = 5.6              # float data type (stores decimal values)
name = "Roopa"            # string data type (stores text)
is_student = True         # boolean data type (True or False)

# 2. Print values and their data types using type()
print("Value and Type Demonstration:")
print(age, type(age))           # type() shows that age is an integer
print(height, type(height))     # type() shows that height is a float
print(name, type(name))         # type() shows that name is a string
print(is_student, type(is_student))  # type() shows that is_student is boolean

print("\n-----------------------------")

# 3. Perform arithmetic operations using numeric variables
sum_result = age + 5             # Adding two integers
product_result = age * 2         # Multiplying integer values
division_result = age / 2        # Division always returns a float

print("Arithmetic Operations:")
print("Sum:", sum_result)
print("Product:", product_result)
print("Division:", division_result)

print("\n-----------------------------")

# 4. Convert string input to integer and float using type casting
# try-except is used to handle invalid (non-numeric) input safely
try:
    # input() always reads user input as a STRING
    user_input = input("Enter a number: ")

    # Convert string input to integer using int()
    # This removes decimal part and converts text to whole number
    int_value = int(user_input)
    print("Integer value:", int_value)

    # Convert string input to float using float()
    # This allows decimal numbers to be stored
    float_value = float(user_input)
    print("Float value:", float_value)

except ValueError:
    # This block executes if input cannot be converted to int or float
    print("Error: Please enter a valid numeric value.")

print("\n-----------------------------")

# 5. Concatenate strings and numbers properly
# Numbers cannot be joined with strings directly
# str() converts integer to string for concatenation
message = "My age is " + str(age)
print(message)

print("\n-----------------------------")

# 6. Demonstrate dynamic typing in Python
# Python allows changing the data type of a variable at runtime

value = 10
print("Value:", value, "Type:", type(value))   # value is an integer

value = "Ten"
print("Value:", value, "Type:", type(value))   # value is now a string

value = 10.5
print("Value:", value, "Type:", type(value))   # value is now a float

Value and Type Demonstration:
21 <class 'int'>
5.6 <class 'float'>
Roopa <class 'str'>
True <class 'bool'>

-----------------------------
Arithmetic Operations:
Sum: 26
Product: 42
Division: 10.5

-----------------------------

Enter a number:  25

Integer value: 25
Float value: 25.0

-----------------------------
My age is 21

-----------------------------
Value: 10 Type: <class 'int'>
Value: Ten Type: <class 'str'>
Value: 10.5 Type: <class 'float'>